[submodule "Assets/UnitySensors"]
	path = Assets/UnitySensors
	url = git@github.com:arav-jp/UnitySensors.git
[submodule "Assets/UnitySensorsROS"]
	path = Assets/UnitySensorsROS
	url = git@github.com:arav-jp/UnitySensorsROS.git
